<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeAPI</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div id="horloge"></div>

    <script>
        function mettreAJourHorloge() {
            var maintenant = new Date();
            var heures = maintenant.getHours();
            var minutes = maintenant.getMinutes();
            var secondes = maintenant.getSeconds();
            
            // Ajout du zéro devant les chiffres inférieurs à 10
            heures = heures < 10 ? '0' + heures : heures;
            minutes = minutes < 10 ? '0' + minutes : minutes;
            secondes = secondes < 10 ? '0' + secondes : secondes;
            
            var heureActuelle = heures + ':' + minutes + ':' + secondes;
            document.getElementById('horloge').textContent = heureActuelle;
        }

        // Mise à jour toutes les secondes
        setInterval(mettreAJourHorloge, 1000);

        // Initialiser l'horloge au chargement de la page
        mettreAJourHorloge();
    </script>

</body>
</html>
