<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carte interactive avec fuseaux horaires</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="/static/css/meteo.css">
    </head>

    <body>
        <h1>Carte interactive - Fuseau horaire</h1>
        <div class="map-clock-container">
            <div id="map"></div>
            <div class="clock">
                <div class="hour-hand"></div>
                <div class="minute-hand"></div>
                <div class="second-hand"></div>
            </div>
        </div>
        
        <div id="timezone-info">
            <p><strong>Fuseau horaire :</strong> <span id="timezone">Aucun fuseau sélectionné</span></p>
        </div>
        <div id="horloge"><strong>Heure actuelle :</strong> <span id="heureActuelle">00:00:00</span></div>

        <div id="weather-info">
            <h2>Informations météo</h2>
            <p><strong>Température :</strong> <span id="temperature">N/A</span>°C</p>
            <p><strong>Description :</strong> <span id="description">N/A</span></p>
            <p><strong>Humidité :</strong> <span id="humidity">N/A</span>%</p>
            <p><strong>Vitesse du vent :</strong> <span id="wind_speed">N/A</span> m/s</p>
        </div>

        <button id="download-button" onclick="downloadData()">Télécharger les données</button>


        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../static/js/scripts.js"></script>
    </body>
</html>
